/* p{
    color:blue;
    font-size: 20px;
}

.vs{
    background-color: red;
    color: black;
}

#vs1{
    color: brown;
}

div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    padding: 5px;
 } */




/* span{
    display: block;
}

.container{
    border: 2px  solid black;
    text-align: left;
    width: 700px;
}

.box{
    height: 300px;
    width:200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.box1{
    background-color: yellowgreen;
}

.box2{
   
    background-color: brown;
}

.box3{
    background-color: skyblue;
} */




/* .container{
     border: 2px  solid black;
     height: 500px;
     width: 1000px;
     background-color: pink;
}

.footer{
    background-color: white;
} */